<!--TODO:: implement a base.html, which we can extend from -->

<!-- Listing of all Forums at alumni/main -->
<!-- currently not intended to allow non superusers to create new forums on this frontend-->

<div id="list">
<table border="0" cellpadding="4" width="100%">
    <tr>
        <td></td>
        <td>Posts</td>
        <td>Last post</td>
        <td></td>
    </tr>
    {% for forum in forums %}
    {% csrf_token %}
    <tr>
        <td {% if forloop.last %}class="last"{% endif %}>
        <div class="title"> <a href="{{forum.get_absolute_url}}"> {{ forum.title }}</a>
        </div></td>
        <td {% if forloop.last %}class="last"{% endif %}>{{ forum.get_num_posts }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            {{ forum.get_latest_post.short|linebreaksbr }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            <a class="button" href="{{forum.get_absolute_url}}">View Thread</a>
        </td>
    </tr>

    {% endfor %}
</div>